<!-- {% extends "home.html" %}

{% block content %}
<html>
<body>
<form action="/mymusic/signup/" method ="POST">{% csrf_token%}
First name:<br>
<input type="text" name="firstname" id="firstname"a autofocus required = "required"/>
<br>
Last name:<br>
<input type="text" name="lastname" id="lastname" required = "required"/>
<br>
email:<br>
<input type = "text" name = "email" id = "email" required = "required"/>
<br>
mobile:<br>

<input type = "number" name = "mobilenumber" name = "mobilenumber" required = "required"/>
<br>
password:<br>
<input type = "password" name = "password" id = "password" required = "required"/>
<br>
confirm password:<br>
<input type =  "password" name = "reenter password" required = "required"/>
<br><br><br>
<input type = "submit" value="Register"/>
</form>
</body>
</html>
{% endblock %} -->